# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs (Must be committed for hackathon submission!)
# docs/

# Dotenv file
.env
dashboard/.env.local

# Node modules & build artifacts
node_modules/
dashboard/node_modules/
dashboard/.next/
dashboard/tsconfig.tsbuildinfo
